/* Valores Generales */

html {
    scroll-behavior: smooth;
}
* {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #f1f1f1; 
    margin: 0px;
    padding: 0px;
}

.rectangulo {
    height: 20vw;
    border: solid 5px white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.rectangulo p {
    font-size: larger;
    font-weight: 700;
    opacity: 0.95;
}

.botonera {
    display: flex;
    justify-content: center;
    color: rgb(325, 325, 325);
}
.ocultaBoton {
    display: none;   
}

@media only screen and (max-width: 600px) {
    .listado__ong {
      display: none; } }